<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/windowsTemplateStudio" IgnorableNamespaces="uap mp genTemplate">
  <Identity Name="53749David198.12054170C9BA1" Publisher="CN=025AB3D0-39C8-411C-AF72-BF845822EE68" Version="1.2.0.0" />
  <mp:PhoneIdentity PhoneProductId="1b972cfe-8420-43c2-9b21-464aff72d804" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Pr0gramm-Viewer</DisplayName>
    <PublisherDisplayName>David198</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Pr0gramm.App">
      <uap:VisualElements DisplayName="Pr0gramm-Viewer" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Pr0gramm" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <genTemplate:Metadata>
    <genTemplate:FeedItem Name="generator" Value="Windows Template Studio" />
    <genTemplate:FeedItem Name="wizardVersion" Version="v1.6.17355.2" />
    <genTemplate:FeedItem Name="templatesVersion" Version="v1.6.17355.2" />
    <genTemplate:FeedItem Name="projectType" Value="SplitView" />
    <genTemplate:FeedItem Name="framework" Value="CaliburnMicro" />
  </genTemplate:Metadata>
</Package>